.class1 {
    background-color: #1f3f53;
}

.i {
    color: #0f86d0
}

.nav {
    display: flex;
    gap: 10px;
    height: 40px;
    justify-content: center;
    align-content: center;
}

.nav li a {
    color: #0f86d0;


}

.nav li a:hover {
    color: aliceblue;
}

.nav svg {
    padding-top: 3px;
}

.nav li {
    list-style-type: none;
    padding-left: 10px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 5px;

}

.nav li:nth-child(3) {
    padding-left: 1100px;
    padding-top: 10px;

}

.nav li:nth-child(4) {

    padding-top: 10px;
}

.nav li:nth-child(5) {

    padding-top: 10px;
}

.nav img{
    padding-top: 3px;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: aliceblue
}

a:hover {
    color: red;
}

.image-container {
    width: 100%;

    overflow: hidden;/ Hide overflowing images / position: relative;

    padding-bottom: 50px;
}

.image-slider {
    display: flex;
    width: 100%;/ Accommodate 4 images and gaps /
}

.image-slider img {
    width: 25%;
    height: 150%;
    object-fit: cover;

}

.nav1 {

    position: absolute;
    top: 49px;

    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.nav1 li {
    list-style: none;

    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: aliceblue
}

.nav1 li img {
    padding-left: 180px;
    padding-right: 250px;

    justify-content: center;
}

.nav1 li input {
    padding: 8px;
    margin-right: 40px;
    width: 200px;
    border-radius: 5px;
    border: 0;
}


h1 {
    font-family: sans-serif Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-bottom: 20px;

}

.latest {

    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
    gap: 15px;

}

.latest img {

    display: flex;
    width: 220px;

    transition: 0.5s ease-in-out;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}



.img1:hover {
    transform: scale(1);
    content: url("Latest drop/aot_beanie_listing1-1-scaled.webp");
}

.img2:hover {
    transform: scale(1);
    content: url("Latest drop/berserk_beanie_lsiting1_hitanshi-scaled.webp");
}

.img3:hover {
    transform: scale(1);
    content: url("Latest drop/bleach_beanie_listing2-scaled.webp");
}

.img4:hover {
    transform: scale(1);
    content: url("Latest drop/jjk_nanami_hoodie_listing6_hitanshi-scaled.webp");
}

.img5:hover {
    transform: scale(1);
    content: url("Latest drop/jojo_beanie_listing3-1-scaled.webp");
}

.img6:hover {
    transform: scale(1);
    content: url("Latest drop/sukuna_beanie_lsiting2_hitanshi-scaled.webp");
}


.img8:hover {
    transform: scale(1);
    content: url("winter wear/ACE_comicsense.webp ");
}

.img9:hover {
    transform: scale(1);
    content: url("winter wear/bleach_hoodie_listing1_hitanshi-scaled.webp");
}

.img10:hover {
    transform: scale(1);
    content: url("winter wear/chainsaw_hoodie4_comicsense-1.webp");
}

.img11:hover {
    transform: scale(1);
    content: url("winter wear/Draken_closeup_comicsense.webp");
}

.img12:hover {
    transform: scale(1);
    content: url("winter wear/solo_leveling_hoodie_5_comicsense-3.webp");
}

.img13:hover {
    transform: scale(1);
    content: url("figurines/bp19022_4_comicsense.webp");
}

.img14:hover {
    transform: scale(1);
    content: url("figurines/bp19029_comicsense.webp");
}

.img15:hover {
    transform: scale(1);
    content: url("figurines/dragonballz_android18_bp17506_banpresto6_hitanshi-scaled.webp");
}

.img16:hover {
    transform: scale(1);
    content: url("figurines/toga_himika-closeeup1_comicsense.webp");
}

.img17:hover {
    transform: scale(1);
    content: url("figurines/dragonballz_supersaiyantrunks_bp117507_banpresto2_hitanshi-scaled.webp");
}

.img18:hover {
    transform: scale(1);
    content: url("figurines/DEMON-SLAYER-1_comicsense-1.webp");
}

.img19:hover {
    transform: scale(1);
    content: url("manga/AttackOnTitan_FinalVolZ_2_comicsense.webp");
}

.img20:hover {
    transform: scale(1);
    content: url("manga/berserk-_vol-13-_manga_listing2-_priyanka-scaled.webp");
}

.img21:hover {
    transform: scale(1);
    content: url("manga/blue-lock-_vol-4-_manga_listing2-_priyanka-scaled.webp");
}

.img22:hover {
    transform: scale(1);
    content: url("manga/wotakoi-_vol-2-_manga_listing2-_priyanka-scaled.webp");
}

.img23:hover {
    transform: scale(1);
    content: url("manga/tokyo-ghoul-vol-1-back_comicsense.webp");
}

.img24:hover {
    transform: scale(1);
    content: url("manga/tokyo-reveners-_vol-5-6_manga_listin2-_priyanka-scaled.webp");
}

.Top {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    padding-bottom: 5px;
}

.Top img {
    width: 350px;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d9e2e6;
    padding-left: 55px;
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 12px;

}

.footer b {
    font-size: 20px;

}

.ab {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer1 {
    background-color: #1f3f53;
    display: flex;
    justify-content: space-evenly;
    color: aliceblue;
    padding-top: 50px;
    font-size: 12px;
    padding-bottom: 30px;
}

.footer1 b {
    font-size: 20px;
}

.footer1 li {
    padding-left: 10px;
    padding-bottom: 5px;
}

#p {
    font-size: 15px;
}

.bc {
    margin-top: 100px;
}

.price {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.price p {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'bungee';
    font-size: 10px;

}

.price pre {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;
    font-weight: bold;
}

h1 {
    font-family: 'bungee';
    font-size: 25px;
}

.menu-items {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: calc(100% + 5px);

    left: 0;

    transition: opacity 0.3s ease, top 0.3s ease;

    display: block;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: sans-serif;
}

.popup-menu:hover .menu-items {
    opacity: 1;
    pointer-events: auto;
    top: 100%;

    display: block;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: sans-serif;
}

.menu-items a {
    color: black;
}

.menu-items a:hover {
    color: #70bdff;
}



.pointer {
    cursor: pointer;
}


.menu-items1 {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 1300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: calc(100% + 5px);

    left: 0;

    transition: 0.5s ease, top 0.5s ease;

    display: block;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    /* font-family: sans-serif; */
}

.popup-menu1:hover .menu-items1 {
    opacity: 1;
    pointer-events: auto;
    top: 100%;

    display: block;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    /* font-family: sans-serif; */

}

.menu-items1 a {
    color: black;
}

.menu-items1 p {
    color: black;
}

.menu-items1 a:hover {
    color: #70bdff;
}

.pop {
    display: flex;
    gap: 100px;
    justify-content: space-evenly;
   
}

.pop1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}